@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body {
	font-family: "Questrial", sans-serif;
}

.align-items-center {
	align-items: stretch !important;
}

.img-responsive {
	max-width: 100%;
}

header {
	position: relative;
	box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
	width: 100%;
	background-color: #fff;
}
aside {
	min-height: 100vh;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	background-color: #c2185b;
}

.btn-primary {
	background-color: #c2185b;
	border-color: #c2185b;
}

main.login {
	width: 400px;
}

section.full {
	width: 100%;
	min-height: 80vh;
	padding: 50px 0;
}

article.evento {
	width: 350px;
}

footer nav ul {
	list-style: none;
	display: flex;
}

footer nav ul li {
	padding: 10px;
}

/* BANNER ROTATIVO */

#slider {
	/* display: flex; */
	/* flex-direction: center; */
	/* justify-content: center; */
	/* align-items: center; */

	width: 80%;
	/* max-width: 500px; */
	/* height: 50vw; */
	/* max-height: 150px; */
	position: relative;
}

#slider img {
	opacity: 0;
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
	transition: opacity 1800ms;
}

#slider img.selected {
	opacity: 1;
}

#popupreserva {
	display: none;
	position: fixed;
	padding: 3%;
	max-width: 480px;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	background-color: #fff;
	border: 2px solid #333;
}

#popupreserva div,
#popupreserva form {
	width: 100%;
}
